body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Caveat', cursive;
    text-align: center;
    position:relative;
    width: 100%;
    height: 100%;
}
.hidden {
    display: none !important;
}

#game-board{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between; 
    position: relative;
}
.value-meter{
    margin:5px;
}
#capy-boi{
    width: 300px;
    height:300px; 
  /*   background-color: bisque; */
}
progress{
    color:bisque;
}

#name-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 115px;    
}
#rand-img-box{
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
}
#game-stats{
    display: flex;
    flex-direction: row;
}
.rand-img{
    position: absolute;
    max-width: 35%;
    max-height: 35%;
    
}
#scoreboard{
    position:absolute;
    width:10%;
    height: 75%;
    top:5%;
    left: 10%;  
}

.fadein {
    -webkit-animation: fadeinout 1s linear forwards;
    animation: fadeinout 1s linear forwards;
}

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}
