html{
    background-color: white;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Caveat', cursive;
    text-align: center;
    position:relative;
    min-width: 100vh;
    min-height: 94vh;
    border: #d2b48c solid 5px;
    background-color: rgb(247, 231, 206,0.3);
    vertical-align: middle;
    margin:20px;
    color:#734E3A;
    
}
.hidden {
    display: none !important;
}
.header{
    font-size:larger;
    border-bottom: #734E3A solid 1px;
    padding: 0;
}

#game-board{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between; 
    position: relative;
}

.value-meter{
    margin:5px;
}
#capy-boi{
    width: 300px;
    height:300px; 
  /*   background-color: bisque; */
}
#life{
    font-size: medium;
}
#name-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 115px;    
    color:#734E3A;
}
#rand-img-box{
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
}
button{
    width:100%;
    font-family: 'Roboto', sans-serif;
    font-size: small;
    color:#734E3A;
    background-color: rgb(247, 231, 206,0.3);
    border-style: solid;
}
#game-stats{
    display: flex;
    flex-direction: row;
    color: #734E3A;
    
}
.rand-img{
    position: absolute;
    max-width: 35%;
    max-height: 35%;
    
}
#scoreboard{
    position:absolute;
    width:10%;
    height: 75%;
    top:5%;
    left: 10%;  
}

.fadein {
    -webkit-animation: fadeinout 1s linear forwards;
    animation: fadeinout 1s linear forwards;
}

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}
.words{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    margin: 10px;

}
.highlight{
    background-color: bisque;
}